body {
    margin:0;
  background-image: url('images/template/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.sidebar{
    background-size: 100%;
    height:100vh ; width:20% ; float:left;
}
.mainbar{
  background-image: url('images/template/bar.png');
  background-size: 100%;
  height:151vh ; width:60% ; float:left;
}
.title{
    padding-top: 100px ;
    padding-bottom: 0vw ;
    height: 256px ; width: 500px;
}
@font-face {
    font-family: MINECRAFTSEVEN;
    src: url(fonts/Ubuntu-Medium.ttf);
}
p1 {
    font-family: MINECRAFTSEVEN;
    color: lightgray;
    font-size: 2vw; 
    text-shadow: 0px 3px #381218;
}
p2 {
    font-family: MINECRAFTFIVE-BOLD;
    color: lightgray;
    font-size: 50px; 
}
p3
{
    font-family: MINECRAFTSEVEN;
    color: lightgray;
    font-size: 2vw; 
    text-shadow: 0px 3px #381218; 
}
p4
{
    font-family: MINECRAFTSEVEN;
    color: lightgray;
    font-size: 1.2vw; 
    text-shadow: 0px 3px #381218; 
}
.sidebar1{
    height:100vh ; width:20% ; float:left;
}
@font-face {
    font-family: MINECRAFTFIVE-BOLD;
    src: url(fonts/MINECRAFTFIVE-BOLD.TTF);
}

.Titlebar{
    background-size: 100%;
    background-repeat: no-repeat;
    float: left ;
    width: 80% ;
}
.titleside{
    float: left ;
    width: 10% ;
    height: 10vw
}
.center-image {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.mods-container .mod {
  background: #111;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  height: auto;
  padding: 0;
  margin: 10px;
}
.banner
{
    text-decoration: none;
    color:azure;
    padding-right:5vw; 
    padding-left:5vw; 
    text-align: center;
}
.tab
{
    background-image:url('images/select_bar.png')
    float: left ;
    width: 80% ;
    height: 8vw
}
a{
      text-shadow: 0px 4px #481290;
}
.blog-container{
  background-image:url('images/template/blog_back.png');
  background-size: contain;
  float: left ;
  width: 48vw ;
  height: 25vw;
  background-repeat: no-repeat;
  position: relative;

}
.blog
{
  padding: 6vw ;
  padding-top: 5vw;
}
.home-image
{
    width: 100%;
}
.home{
    width: 44%;
    height: 15vw;
    float: left;
    padding: 3% ;
    padding-right: 1% ;
}