<!DOCTYPE html>
<html>
    <head>
        <title>Dodo Gang</title>
        <link rel="stylesheet" href="{{ site.url}}/assets/css/style.css">
        <link rel="icon" href="{{ site.url}}/assets/images/dodos.png">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Dodo Gang" />
        <meta property="og:description" content="Our Dev Blogs" />
        <meta property="og:url" content="https://youtu.be/dQw4w9WgXcQ" />
        <meta property="og:image" content="https://tinyatomss.github.io/Dodo-Gang{{ site.url}}/assets/images/dodos.png" />


        <title>{{ page.title }} | {{ site.title }}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}" />
        <meta name="theme-color" content="#EEEEEE">

        <meta property="og:image" content="https://tinyatomss.github.io/Dodo-Gang{{ site.url}}/assets/images/dodos.png" />
        <meta property="og:type" content="website" />

        <link rel="stylesheet" href="{{ site.url}}/assets/css/style.css" />

        <link rel="shortcut icon" href="{{ site.url}}/assets/images/dodos.png" type="image/x-icon">
        <link rel="icon" href="{{ site.url}}/assets/images/dodos.png" type="image/x-icon">
    </head>

    <body>
        <div id="titlebar" no-highlight>
            <center>
                <div id="titleside"></div>
                <div id="Titlebar">
                    <p2>
                        <a href="{{ site.url }}/">Home</a>
                        <a href="{{ site.url }}/blogs">Blogs</a>
                    </p2>
                    <br>
                    <br>
                </div>
                <div id="titleside"></div>
            </center>
            <center>
                <a href="{{ site.url }}/"><img src="{{ site.url}}/assets/images/dodos.png" id="title" alt="Dodo Gang"></a>
            </center>
        </div>
        <div id="sidebar"></div>
        <div id="mainbar">
            <center>
                <div class=text>
                    {{ content }}
                </div>
            </center>
        </div>
        <div id="sidebar1"></div>
    </body>
</html>
